@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7faf6;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

.metric-card-outline {
  border: 1px solid #bec9c3;
}

.zebra-stripe:nth-child(even) {
  background-color: #f1f4f1;
}
